<a href="https://colab.research.google.com/github/SugiyamaSeiji/100-language-processing-knocks/blob/main/10-14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10. 行数のカウント

In [ ]:
!cat popular-names.txt | wc -l

2780

In [ ]:
print(sum([1 for _ in open("popular-names.txt")]))

2780

11. タブをスペースに置換

In [ ]:
!cat popular-names.txt | tr "\t" " " > output_11_command.txt

In [ ]:
with open("popular-names.txt", "r") as f:
  data = f.read()

In [ ]:
with open("output_11_program", "w") as f:
  change = data.replace("\t", " ")
  f.write(change)

12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [6]:
!cut  -f 1 popular-names.txt > col1.txt

In [7]:
!cut  -f 2 popular-names.txt > col2.txt

In [ ]:
import pandas as pd

df = pd.read_csv("popular-names.txt", delim_whitespace=True, header=None)

In [ ]:
df[0].to_csv('col1.txt', index=False, header=False)
df[1].to_csv('col2.txt', index=False, header=False)

13. col1.txtとcol2.txtをマージ

In [10]:
!paste -d "\t" col1.txt col2.txt > col.txt

In [ ]:
col1 = pd.read_csv('col1.txt',header=None)
col2 = pd.read_csv('col2.txt',header=None)

In [ ]:
col = pd.concat([col1, col2], axis=1)

In [ ]:
col.to_csv('col.txt', index=False, header=False, sep="\t")

14. 先頭からN行を出力

In [ ]:
!head -n 5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [17]:
def line_out(filename, n):
  with open(filename, "r") as f:
    for i in range(n):
      line = f.readline()
      print(line)

In [18]:
line_out("popular-names.txt", 5)

Mary	F	7065	1880

Anna	F	2604	1880

Emma	F	2003	1880

Elizabeth	F	1939	1880

Minnie	F	1746	1880